{extend name="common/base" /}
<!-- 主體 -->
{block name="body"}
<div class="p-3">
    <table class="layui-hide" id="level" lay-filter="level"></table>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm add-menu layui-btn-normal">+ 添加用戶等級</button>
    </div>
</script>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];
    function xuwenInit() {
        var table = layui.table, tool = layui.tool;
        layui.pageTable = table.render({
            elem: '#level'
            , toolbar: '#toolbarDemo'
            , title: '用戶等級列表'
            , url: "/admin/role/index"
            , page: false //開啟分頁
            , cellMinWidth: 120
            , cols: [[
                { field: 'id', width: 80, title: 'ID號', align: 'center' }
                , { field: 'title', title: '等級名稱', width: 120, align: 'center' }
                , { field: 'desc', title: '等級描述' }
                , {
                    field: 'status', title: '狀態', width: 80, align: 'center', templet: function (d) {
                        var html1 = '<span>正常</span>';
                        var html2 = '<span style="color:#FF5722">禁用</span>';
                        if (d.status == 1) {
                            return html1;
                        }
                        else {
                            return html2;
                        }
                    }
                }
                , {
                    width: 100, title: '操作', align: 'center', templet: function (d) {
                        var html = '';
                        var btn = '<a class="layui-btn layui-btn-xs" lay-event="edit">編輯</a>';
                        var btn1 = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">禁用</a>';
                        var btn2 = '<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="open">啟用</a>';
                        if (d.status == 1) {
                            html = '<div class="layui-btn-group">' + btn + btn1 + '</div>';
                        }
                        else {
                            html = '<div class="layui-btn-group">' + btn + btn2 + '</div>';
                        }
                        return html;
                    }
                }
            ]]
        });

        table.on('tool(level)', function (obj) {
            if (obj.event === 'edit') {
                addExpense(obj.data.id, obj.data.title, obj.data.desc);
            }
            if (obj.event === 'disable') {
                layer.confirm('確定要禁用該等級嗎?', { icon: 3, title: '提示' }, function (index) {
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            layer.close(index);
                            layui.pageTable.reload()
                        }
                    }
                    tool.post("/admin/role/disable", { id: obj.data.id, status: 0 }, callback);
                    layer.close(index);
                });
            }
            if (obj.event === 'open') {
                layer.confirm('確定要啟用該等級嗎?', { icon: 3, title: '提示' }, function (index) {
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            layer.close(index);
                            layui.pageTable.reload()
                        }
                    }
                    tool.post("/admin/role/disable", { id: obj.data.id, status: 1 }, callback);
                    layer.close(index);
                });
            }
        });

        $('body').on('click', '.addNew', function () {
            addExpense(0, '', '');
        });

        function addExpense(id, title, desc) {
            var biaoti = '新增等級';
            if (id > 0) {
                biaoti = '編輯等級';
            }

            layer.open({
                type: 1
                , title: biaoti
                , area: '512px;'
                , id: 'LAY_module' //設定一個id，防止重複彈出
                , btn: ['確定', '取消']
                , btnAlign: 'c'
                , content: '<div style="padding-top:15px;">\
                        <div class="layui-form-item">\
                          <label class="layui-form-label">等級名稱</label>\
                          <div class="layui-input-inline" style="width:360px;">\
                           <input type="hidden" name="id" value="'+ id + '">\
                           <input type="text" name="title" autocomplete="off" value="'+ title + '" placeholder="請輸入模組名稱" class="layui-input">\
                          </div>\
                        </div>\
                        <div class="layui-form-item">\
                          <label class="layui-form-label">等級描述</label>\
                          <div class="layui-input-inline" style="width:360px;">\
                           <textarea name="desc" placeholder="請輸入等級描述，100字以內" class="layui-textarea">'+ desc + '</textarea>\
                          </div>\
                        </div>\
                       </div>'
                , yes: function (index) {
                    let id = $('#LAY_module').find('[name="id"]').val();
                    let title = $('#LAY_module').find('[name="title"]').val();
                    let desc = $('#LAY_module').find('[name="desc"]').val();
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            if (e.code == 0) {
                                layer.close(index);
                                layui.pageTable.reload();
                            }
                        }
                    }
                    tool.post("/admin/role/add", {
                        id: id,
                        title: title,
                        desc: desc
                    }, callback);
                    return false;
                }
                , btn2: function () {
                    layer.closeAll();
                }
            });
        }
    }
</script>
{/block}
<!-- /腳本 -->
