{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}
<div class="p-3">
    <div class="gg-form-bar border-t border-x">
        <button class="layui-btn layui-btn-sm add-menu layui-btn-normal">+ 添加菜單</button>
    </div>
    <div>
        <table class="layui-hide" id="treeTable" lay-filter="treeTable"></table>
    </div>
</div>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool', 'treeGrid'];

    function xuwenInit() {
        var treeGrid = layui.treeGrid, table = layui.table, tool = layui.tool;
        var pageTable = treeGrid.render({
            id: 'treeTable'
            , elem: '#treeTable'
            , idField: 'id'
            , url: "/admin/adminmenu/index"
            , cellMinWidth: 80
            , treeId: 'id'//樹形id字段名稱
            , treeUpId: 'pid'//樹形父id字段名稱
            , treeShowName: 'title'//以樹形式顯示的字段
            , cols: [[
                {field: 'id', width: 80, title: 'ID', align: 'center'},
                {field: 'sort_order', width: 60, title: '排序', align: 'center'},
                {
                    field: 'icon', title: '菜單圖示', width: 80, align: 'center', templet: function (d) {
                        var html = '<strong class="bi ' + d.icon + '"></strong>';
                        return html;
                    }
                },
                {field: 'title', width: 160, title: '菜單名稱'},
                {field: 'pid', title: '父ID', width: 80, align: 'center'},
                {field: 'src', title: 'URL鏈接'},
                {
                    field: 'menu', width: 100, title: '是否是菜單', align: 'center', templet: function (d) {
                        var html = '<span style="color:#fbbc05">否</span>';
                        if (d.menu == '1') {
                            html = '<span style="color:#12bb37">是</span>';
                        }
                        return html;
                    }
                }
                , {field: 'name', width: 110, title: '操作日誌名稱', align: 'center'}
                , {
                    width: 188, title: '操作', align: 'center'
                    , templet: function (d) {
                        var html = '<span class="layui-btn-group"><button class="layui-btn layui-btn-xs" lay-event="add">添加子菜單</button><button class="layui-btn  layui-btn-normal layui-btn-xs" lay-event="edit">編輯</button><button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">刪除</button>';
                        return html;
                    }
                }
            ]]
            , page: false
        });
        //表頭工具欄事件
        $('.add-menu').on('click', function () {
            tool.side("/admin/adminmenu/add");
            return;
        });

        //操作按鈕
        treeGrid.on('tool(treeTable)', function (obj) {
            console.log(obj);
            if (obj.event === 'add') {
                tool.side('/admin/adminmenu/add?pid=' + obj.data.id);
                return;
            }
            if (obj.event === 'edit') {
                tool.side('/admin/adminmenu/add?id=' + obj.data.id);
                return;
            }
            if (obj.event === 'del') {
                layer.confirm('確定要刪除嗎?', {icon: 3, title: '提示'}, function (index) {
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            obj.del();
                        }
                    }
                    tool.delete("/admin/adminmenu/delete", {id: obj.data.id}, callback);
                    layer.close(index);
                });
            }
        });
    }
</script>
{/block}
<!-- /腳本 -->
