{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}
<form class="layui-form p-4">
  <h3 class="pb-3">重置密碼</h3>
  <table class="layui-table layui-table-form">
    <tr>
      <td class="layui-td-gray">用戶名<span>*</span></td>
      <td><input type="text" lay-verify="required" autocomplete="off" placeholder="" class="layui-input"
                 value="{$admin.username}" disabled></td>
      <td class="layui-td-gray">舊密碼<span>*</span></td>
      <td>
        <input type="password" lay-verify="required" name="old_pwd" placeholder="請輸入舊密碼" lay-reqText="請輸入舊密碼"
               autocomplete="off" class="layui-input">
      </td>
    </tr>
    <tr>
      <td class="layui-td-gray">新密碼<span>*</span></td>
      <td>
        <input type="password" lay-verify="required" name="pwd" placeholder="請輸入新密碼" lay-reqText="請輸入新密碼"
               autocomplete="off" class="layui-input">
      </td>
      <td class="layui-td-gray-2">確認新密碼<span>*</span></td>
      <td>
        <input type="password" lay-verify="required" name="pwd_confirm" placeholder="請再次輸入新密碼" lay-reqText="請再次輸入新密碼"
               autocomplete="off" class="layui-input">
      </td>
    </tr>
  </table>
  <div class="py-10 flex justify-center">
    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
  </div>
</form>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
  const moduleInit = ['tool'];
  function xuwenInit() {
    var form = layui.form, tool = layui.tool;
    //監聽提交
    form.on('submit(webform)', function (data) {
      let callback = function (e) {
        layer.msg(e.msg);
        if (e.code == 0) {
          setTimeout(function(){
            tool.tabClose();
          },2000);
        }
      }
      tool.post("/admin/api/password_submit", data.field, callback);
      return false;
    });
  }
</script>
{/block}
<!-- /腳本 -->
