{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">崗位職稱</h3>
	{if condition="$id eq 0"}
	<table class="layui-table">
		<tr>
			<td class="layui-td-gray">崗位名稱<span>*</span></td>
			<td>
				<input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="請輸入崗位名稱" lay-reqText="請輸入崗位名稱" class="layui-input">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">狀態<span>*</span></td>
			<td colspan="3">
				<input type="radio" name="status" value="1" title="正常" checked>
				<input type="radio" name="status" value="0" title="禁用">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">崗位備註</td>
			<td colspan="3">
				<textarea name="remark" placeholder="請輸入崗位備註" class="layui-textarea"></textarea>
			</td>
		</tr>
	</table>
	{else/}
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">崗位名稱<span>*</span></td>
			<td>
				<input type="text" name="title" value="{$detail.title}" lay-verify="required" autocomplete="off" placeholder="請輸入崗位名稱" lay-reqText="請輸入崗位名稱" class="layui-input">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">狀態<span>*</span></td>
			<td colspan="3">
				<input type="radio" name="status" value="1" title="正常" {eq name="$detail.status" value="1"}checked{/eq}>
				<input type="radio" name="status" value="0" title="禁止" {eq name="$detail.status" value="0"}checked{/eq}>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">崗位備註</td>
			<td colspan="3">
				<textarea name="remark" placeholder="請輸入崗位備註" class="layui-textarea">{$detail.remark}</textarea>
			</td>
		</tr>
	</table>
	{/if}
	<div class="flex justify-center py-4" >
		<input type="hidden" name="id" value="{$id}">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function xuwenInit() {
		var form = layui.form,tool=layui.tool;
		form.on('submit(webform)', function(data){
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					setTimeout(function () {
						parent.location.reload();
					}, 1000);
				}
			}
			tool.post("/admin/adminposition/add", data.field, callback);
			return false;
		});
		//監聽提交
		form.on('submit(webform)', function(data){
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);
				}
			}
			tool.post("/admin/adminposition/add", data.field, callback);
			return false;
		});
	}

</script>
{/block}
<!-- /腳本 -->
