{extend name="common/base"/}
<!-- 主體 -->
{block name="body"}

<div class="p-3">
    <form class="layui-form gg-form-bar border-t border-x">
        <div class="layui-input-inline">
            <select name="cate_id">
                <option value="">請選擇瑜伽分類</option>
                {volist name=":set_recursion(get_yoga_cate())" id="v"}
                <option value="{$v.id}">{$v.title}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-input-inline" style="width:300px;">
            <input type="text" name="keywords" placeholder="請輸入關鍵字" class="layui-input" autocomplete="off" />
        </div>
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
    </form>
    <table class="layui-hide" id="article" lay-filter="article"></table>
</div>

<script type="text/html" id="status">
    <i class="layui-icon {{#  if(d.status == 1){ }}layui-icon-ok{{#  } else { }}layui-icon-close{{#  } }}"></i>
</script>
<script type="text/html" id="is_home">
    <i class="layui-icon {{#  if(d.is_home == 1){ }}layui-icon-ok{{#  } else { }}layui-icon-close{{#  } }}"></i>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <span class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add" data-title="添加瑜伽課程">+ 添加瑜伽課程</span>
    </div>
</script>

<script type="text/html" id="barDemo">
    <div class="layui-btn-group"><a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="read">查看</a><a class="layui-btn layui-btn-xs" lay-event="edit">編輯</a><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">刪除</a></div>
</script>

{/block}
<!-- /主體 -->

<!-- 腳本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];
    function xuwenInit() {
        var table = layui.table, tool = layui.tool, form = layui.form;
        layui.pageTable = table.render({
            elem: '#article',
            title: '文章表列表',
            toolbar: '#toolbarDemo',
            url: '/admin/yoga_course/course_list',
            page: true,
            limit: 20,
            cellMinWidth: 300,
            cols: [
                [
                    {
                        fixed: 'left',
                        field: 'id',
                        title: '編號',
                        align: 'center',
                        width: 80
                    }, {
                        field: 'cate_title',
                        title: '瑜伽分類',
                        align: 'center',
                        width: 120
                    }, {
                        field: 'title',
                        title: '課程標題'
                    }, {
                        field: 'course_duration',
                        title: '課程時長'
                    }, {
                        field: 'sort_order',
                        title: '排序',
                        align: 'center',
                        width: 80
                    }, {
                        field: 'status',
                        title: '狀態',
                        toolbar: '#status',
                        align: 'center',
                        width: 80
                    }, {
                        field: 'admin_name',
                        title: '創建人',
                        align: 'center',
                        width: 100
                    }, {
                        field: 'created_at',
                        title: '創建時間',
                        align: 'center',
                        width: 160
                    }, {
                        fixed: 'right',
                        field: 'right',
                        title: '操作',
                        toolbar: '#barDemo',
                        width: 136,
                        align: 'center'
                    }
                ]
            ]
        });

        //監聽表頭工具欄事件
        table.on('toolbar(article)', function (obj) {
            if (obj.event === 'add') {
                tool.side("/admin/yoga_course/add");
                return false;
            }
        });

        //監聽表格行工具事件
        table.on('tool(article)', function (obj) {
            var data = obj.data;
            if (obj.event === 'read') {
                tool.side('/admin/yoga_course/read?id=' + obj.data.id);
            } else if (obj.event === 'edit') {
                tool.side('/admin/yoga_course/edit?id=' + obj.data.id);
            } else if (obj.event === 'del') {
                layer.confirm('確定要刪除該記錄嗎?', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            obj.del();
                        }
                    };
                    tool.delete("/admin/yoga_course/del", {id: data.id}, callback);
                    layer.close(index);
                });
            }
            return false;
        });

        //監聽搜索提交
        form.on('submit(searchform)', function (data) {
            layui.pageTable.reload({
                where: {
                    keywords: data.field.keywords,
                    cate_id: data.field.cate_id
                },
                page: {
                    curr: 1
                }
            });
            return false;
        });
    }
</script>
{/block}
<!-- /腳本 -->
