{extend name="layout/layout"/}
{block name="css"}
<link rel="stylesheet" href="{__STATIC__}/front/css/gouwuche.css">
{/block}
{block name="style"}
<style>

</style>
{/block}
{block name="body"}
<section>
    <div class="login_container">
        <div class="login_box">
            <div class="tle">
                我的购物车
            </div>
            <div class="container">
                <div class="check_shop">
                    <div class="tle">勾选项目内容</div>
                    <div class="subNavBox">
                        <div class="subNav currentDd currentDt">
                            <div class="checkeds">
                                <input type="checkbox" name="" id="">
                            </div>
                            <div class="sop_b">
                                <div class="pro_l">
                                    <p>上班族</p>
                                    <p>瑜伽课程</p>
                                </div>
                                <div class="pro_price">
                                    $00000
                                </div>
                                <div class="pro_r">
                                    <p>20部影片</p>
                                    <div class="img">
                                        <img src="./img/pc/select_bot.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <ul class="navContent " style="display: block;">

                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>

                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>
                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>
                            <li>
                                <div class="more">
                                    <img src="./img/pc/more.png" alt="">
                                    更多影片
                                    <img src="./img/pc/more.png" alt="">
                                </div>
                            </li>
                        </ul>

                        <div class="subNav currentDd currentDt">
                            <div class="checkeds">
                                <input type="checkbox" name="" id="">
                            </div>
                            <div class="sop_b">
                                <div class="pro_l">
                                    <p>上班族</p>
                                    <p>瑜伽课程</p>
                                </div>
                                <div class="pro_price">
                                    $00000
                                </div>
                                <div class="pro_r">
                                    <p>20部影片</p>
                                    <div class="img">
                                        <img src="./img/pc/select_bot.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <ul class="navContent " >

                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>

                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>
                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>
                            <li>
                                <div class="more">
                                    <img src="./img/pc/more.png" alt="">
                                    更多影片
                                    <img src="./img/pc/more.png" alt="">
                                </div>
                            </li>
                        </ul>
                        <div class="subNav currentDd currentDt">
                            <div class="checkeds">
                                <input type="checkbox" name="" id="">
                            </div>
                            <div class="sop_b">
                                <div class="pro_l">
                                    <p>上班族</p>
                                    <p>瑜伽课程</p>
                                </div>
                                <div class="pro_price">
                                    $00000
                                </div>
                                <div class="pro_r">
                                    <p>20部影片</p>
                                    <div class="img">
                                        <img src="./img/pc/select_bot.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <ul class="navContent ">

                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>

                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>
                            <li>
                                <p>Action 1</p>
                                参展手臂
                            </li>
                            <li>
                                <div class="more">

                                    <img src="./img/pc/more.png" alt="">
                                    更多影片
                                    <img src="./img/pc/more.png" alt="">
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="all_pre">
                        <p>
                            总计: <span>¥123</span>
                        </p>

                    </div>
                    <div class="next_">
                        <p>下一步</p>
                    </div>

                </div>
                <div class="login_r">
                    <div class="login_form">
                        <p class="tle">註冊</p>
                        <form action="#" method="#">
                            <div class="form_item">
                                <span>账户:</span><input type="text" name="taskName" /><br>
                            </div>
                            <div class="form_item">
                                密码:<input type="text" name="srcLink" /><br>
                            </div>
                            <div class="form_item">
                                <span>確認密碼:</span><input type="text" name="taskName" /><br>
                            </div>
                            <div class="form_item">
                                Email:<input type="text" name="srcLink" /><br>
                            </div>
                            <div class="form_item">
                                圆形验证码:
                                <div class="inp_cod">
                                    <input type="text" name="tarLink" />
                                    <div class="code">

                                    </div>
                                </div>
                            </div>
                            <div class="form_item">
                                Email验证码:
                                <div class="inp_cod">
                                    <input type="text" name="tarLink" />
                                    <div class="send_code">
                                        獲取驗證碼
                                    </div>
                                </div>
                            </div>
                            <div class="agrees">
                                <input type="radio">
                                <p>我已閲讀同意 <span>《《用户協議》》</span></p>
                            </div>
                            <input class="btn" type="submit" value="立即注册">
                            <div class="no_num">
                                已有账号<p>立即登入</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="js"}
<script src="{__STATIC__}/front/js/jquery.js"></script>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        $(".pro_r").click(function () {
            $(this).parent(".sop_b").parent(".subNav").next(".navContent").slideToggle(300).siblings(".navContent").slideUp(500);
        });
    });
</script>
{/block}