{extend name="layout/layout"/}
{block name="css"}
<link rel="stylesheet" href="{__STATIC__}/front/css/shangpin.css">
{/block}
{block name="style"}
<style>
    .shop_main{margin-top: 0px;}
</style>
{/block}
{block name="body"}
<section>
    <div class="shop_main">
        <div class="container">
            <div class="shop_name">
                <p>会员全套课程,</p>
                <p>送一件瑜伽裤</p>
            </div>
            <div class="shop_product">
                <div class="product_l">
                    <div class="shop_img">
                        <img src="{__STATIC__}/front/images/pc/shop.png" alt="">
                    </div>
                </div>
                <div class="product_r">
                    <div class="name">
                        瑜伽裤
                    </div>
                    <p>太舒服啦太舒服啦 <br> 太舒服啦太舒服啦</p>
                    <div class="content">
                        制造制造制造制造制造制造制造制造制造制造制造制造
                    </div>
                </div>
            </div>
            <div class="price_list">
                <div class="price">
                    <p>全套课程原价 ¥111 <span >
                            （共计100 多个影片，送瑜伽裤）
                        </span> </p>
                    <div class="content">
                        <p>限时会员价</p>
                        <span>¥66666</span>
                    </div>
                </div>
                <div class="price">
                    <p>全套课程原价 ¥ 567<span >
                            （共计100 多个影片，送瑜伽裤）
                        </span></p>
                    <div class="content">
                        <p>限时会员价</p>
                        <span>¥66666</span>
                    </div>
                </div>
            </div>
            <div class="go_buy">
                <div  class="tle">
                    只有一次机会 <br/>
                    让你有更多的瑜伽体验
                </div>
                <div class="btn">
                    立即购买课程
                </div>
                <div class="num">
                    $00000000
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="brand">
        <div class="brand_l">
            <div class="img">
                <img src="{__STATIC__}/front/images/pc/shop02.png"  alt="">
            </div>
            <p>加码送 <br> 弹性瑜伽裤</p>
        </div>
        <div class="brand_r">
            <div class="img">
                <img src="{__STATIC__}/front/images/pc/yujia.png" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="lession">
        <div class="container">
            <div class="le_list">
                <div class="item">
                    <p>上班族</p>
                    <p>瑜伽课程</p>
                </div>
                <div class="item">
                    <p>孕妇</p>
                    <p>瑜伽课程</p>
                </div>
                <div class="item">
                    <p>家庭主妇</p>
                    <p>瑜伽课程</p>
                </div>
            </div>
            <div class="le_bot">
                <p>全球唯一一家针对家庭主妇，孕妇，上班族 的瑜伽课程全球唯一一家针对家庭主妇，孕妇，上班族 的瑜伽课程</p>
            </div>
        </div>
        <!-- <div class="mask">
                <img src="{__STATIC__}/front/images/pc/les02.png" alt="">
                <img src="{__STATIC__}/front/images/pc/les01.png" alt="">
        </div> -->
    </div>
</section>
<section>
    <div class="shop_banner">
        <img src="{__STATIC__}/front/images/pc/shopbanner.png" alt="">
    </div>
</section>
<section>
    <div class="all_less">
        <div class="container">
            <div class="les_t">
                <div class="letimg">
                    <img src="{__STATIC__}/front/images/pc/tlepng.png" alt="">
                </div>
                <p>全套瑜伽课程</p>
                <div class="letimg">
                    <img src="{__STATIC__}/front/images/pc/tlepng.png" alt="">
                </div>
            </div>
            <div class="les_li">
                <div class="list">
                    <p>
                        1.上班族瑜伽
                    </p>
                </div>
                <div class="list">
                    <p>
                        2.上班族瑜伽
                    </p>
                </div>
                <div class="list">
                    <p>
                        3.上班族瑜伽
                    </p>
                </div>
            </div>
            <div class="les_bot">
                <div class="bot_l">
                    <div class="orgprice">
                        限时价格：<span>¥0000</span>
                    </div>
                    <div class="nowprice">
                        限时优惠：<span>¥0000</span>
                    </div>
                    <div class="all_slims">
                        （共计60多部电影）
                    </div>
                    <div class="btn">
                        立即购买课程
                    </div>
                </div>
                <div class="bot_r">
                    <img src="{__STATIC__}/front/images/pc/lesbg.png" alt="">
                </div>

            </div>
        </div>

    </div>
</section>
{/block}
