{extend name="layout/layout"/}
{block name="css"}
<link rel="stylesheet" href="{__STATIC__}/front/css/join.css">
{/block}
{block name="style"}
<style>
    footer{display: none;}
</style>
{/block}
{block name="body"}
<section>
    <div class="product">
        <div class="main"> 
            <p>全球唯一針對<br> 家庭主婦上班族 <br>的瑜伽課程</p>
            <p>無經驗也能輕鬆學會</p>
            <div class="btn">
                JOIN &nbsp; US
            </div>
        </div>
    </div>
</section>
<section>
    <div class="symptom">
        <div class="container">
            <div class="symptom_shape">
                <ul>
                    <li>
                        <div class="img">
                            <img src="{__STATIC__}/front/images/pc/shape01.png" alt="">
                        </div>
                        <p>多方位拉伸舒展方法</p>
                    </li>
                    <li>
                        <div class="img">
                            <img src="{__STATIC__}/front/images/pc/shape02.png" alt="">
                        </div>
                        <p>舒展发力集中精神</p>
                    </li>
                    <li>
                        <img src="{__STATIC__}/front/images/pc/shape03.png" alt="">
                        <p>舒展发力集中精神</p>
                    </li>
                </ul>
            </div>
            <div  class="symptom_hope">
                <div class="maxtle">
                    擁有以下症狀 , <br> 想改善同時心裏受傷
                </div>
                <div class="symptom_hope_reson">
                    <div class="reson_l">
                        <ul>
                            <li>
                                <div class="tle">身为上班族的你</div>
                                <p>腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛</p>
                            </li>
                            <li>
                                <div class="tle">身为上班族的你</div>
                                <p>腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛</p>
                            </li>
                            <li>
                                <div class="tle">身为上班族的你</div>
                                <p>腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛腰酸背痛</p>
                            </li>

                        </ul>

                    </div>
                    <div class="reson_r">
                        <img src="{__STATIC__}/front/images/pc/reson01.png" alt="">
                    </div>
                </div>
            </div>
            <div class="asha_question">
                <p>ahsp 课程将彻底改善所有问题 <br> 最简单的动作最简单的动作最简单的动作最简单的动作最最简单的动作最简单的动作最简单的动作</p>
            </div>
            <div class="course_time">
                <div class="course_time_l">
                    <img src="{__STATIC__}/front/images/pc/login_l.png" alt="">
                </div>
                <div class="course_time_r">
                    <div class="tle">
                        课程 Asha
                    </div>
                    <p>
                        孕妇瑜伽，空中瑜伽孕妇瑜伽，空中瑜伽孕妇瑜伽，空中瑜伽
                    </p>
                    <ul>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="symptom_bot">
                <div class="tle">
                    整合各项瑜伽课程	整合各项
                </div>
                <p>
                    大大提升大大提升大大提升大大提升大大提升大大提升大大提升
                </p>
                <div class="wetamark">
                    <img src="{__STATIC__}/front/images/pc/mark.png" alt="">
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="feadback">
        <div class="container">
            <div  class="fead_tle">
                多名学员的真实反馈
            </div>
            <p>学习简单，彻底改善情况，受用一辈子</p>
            <p>不需要任何器材，只需跟着asha老师就能轻松做到</p>
            <div class="flow_list">
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>

                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>

                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下

                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>

                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下

                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="need_qa">
        <div class="container">
            <div class="need_tle">
                <div class="ned_img">
                    <img src="{__STATIC__}/front/images/pc/need01.png" alt="">
                </div>

                <p>Q & A</p>
            </div>
            <div class="need_list">
                <div class="list">
                    <div class="ques">
                        我没有任何瑜伽道具，可以联系吗
                    </div>
                    <div class="count">
                        我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗
                    </div>
                </div>
                <div class="list">
                    <div class="ques">
                        我没有任何瑜伽道具，可以联系吗
                    </div>
                    <div class="count">
                        我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗
                    </div>
                </div>
                <div class="list">
                    <div class="ques">
                        我没有任何瑜伽道具，可以联系吗
                    </div>
                    <div class="count">
                        我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗
                    </div>
                </div>
            </div>
            <div class="need_bot">
                <div class="ned_img">
                    <img src="{__STATIC__}/front/images/pc/need01.png" alt="">
                </div>

            </div>
        </div>

    </div>
</section>
{/block}