{extend name="layout/layout"/}
{block name="css"}
<link rel="stylesheet" href="{__STATIC__}/front/css/join.css">
{/block}
{block name="style"}
<style>
    footer{display: none;}
</style>
{/block}
{block name="body"}
<section>
    <div class="product">
        <div class="main"> 
            <p>全球唯一針對<br>「家庭主婦、孕婦、上班族」<br>線上瑜伽教學課程</p>
            <p>無經驗也能輕鬆學習</p>
            <div class="btn">JOIN &nbsp; US</div>
        </div>
    </div>
</section>
<section>
    <div class="symptom">
        <div class="container">
            <div class="symptom_shape">
                <ul>
                    <li>
                        <div class="img">
                            <img src="{__STATIC__}/front/images/pc/shape01.png" alt="">
                        </div>
                        <p>多方位舒展伸展方法</p>
                    </li>
                    <li>
                        <div class="img">
                            <img src="{__STATIC__}/front/images/pc/shape02.png" alt="">
                        </div>
                        <p>舒緩壓力集中精神</p>
                    </li>
                    <li>
                        <img src="{__STATIC__}/front/images/pc/shape03.png" alt="">
                        <p>自我雕出身體線條</p>
                    </li>
                </ul>
            </div>
            <div  class="symptom_hope">
                <div class="maxtle">
                    擁有以下症狀 , <br> 想改善同時卻擔心會受傷？
                </div>
                <div class="symptom_hope_reson">
                    <div class="reson_l">
                        <ul>
                            <li>
                                <div class="tle">身為上班族的妳</div>
                                <p>腰酸背痛、坐姿肩頸僵硬、久站下半身水腫、小腹大腿粗壯、注意力不集中</p>
                                <p>想伸展減重卻擔心拉筋姿勢錯誤？動作很難學？</p>
                            </li>
                            <li>
                                <div class="tle">身為家庭主婦的妳</div>
                                <p>睡眠不足、累疲乏、排便不順</p>
                                <p>繁忙的家務讓你全身痿痛？</p>
                                <p>照顧家人卻沒時間好好照顧自己？</p>
                            </li>
                            <li>
                                <div class="tle">身為孕婦的妳</div>
                                <p>腰酸、抽筋、胸悶、水腫不適、壓力大、睡眠品質差、無法專註</p>
                                <p>想運動放松卻擔心動到胎氣？</p>
                                <p>擔心動作困難或影響到寶寶？</p>
                            </li>
                        </ul>
                    </div>
                    <div class="reson_r">
                        <img src="{__STATIC__}/front/images/pc/reson01.png" alt="">
                    </div>
                </div>
            </div>
            <div class="asha_question">
                <p>ASHA YOGA的課程將徹底改善所有問題<br>最簡單的動作、最專業的指導<br>不用擔心受傷或動到胎氣<br>跟著ASHA老師一起輕鬆學習</p>
            </div>
            <div class="course_time">
                <div class="course_time_l">
                    <img src="{__STATIC__}/front/images/pc/login_l.png" alt="">
                </div>
                <div class="course_time_r">
                    <div class="tle">
                        認識 Asha
                    </div>
                    <p>
                        孕妇瑜伽，空中瑜伽孕妇瑜伽，空中瑜伽孕妇瑜伽，空中瑜伽
                    </p>
                    <ul>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                        <li>
                            <p>200个小时瑜伽资格证</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="symptom_bot">
                <div class="tle">
                    整合各项瑜伽课程	整合各项
                </div>
                <p>
                    大大提升大大提升大大提升大大提升大大提升大大提升大大提升
                </p>
                <div class="wetamark">
                    <img src="{__STATIC__}/front/images/pc/mark.png" alt="">
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="feadback">
        <div class="container">
            <div  class="fead_tle">
                多名学员的真实反馈
            </div>
            <p>学习简单，彻底改善情况，受用一辈子</p>
            <p>不需要任何器材，只需跟着asha老师就能轻松做到</p>
            <div class="flow_list">
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>

                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>

                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下

                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下


                    </div>
                </div>

                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下

                    </div>
                </div>
                <div class="item">
                    <div class="item_t">
                        <div class="user">
                            <img src="{__STATIC__}/front/images/pc/user.png" alt="">
                        </div>
                        <p>小针小针小针</p>
                    </div>
                    <div class="item_count">
                        许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下许诶下

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="need_qa">
        <div class="container">
            <div class="need_tle">
                <div class="ned_img">
                    <img src="{__STATIC__}/front/images/pc/need01.png" alt="">
                </div>

                <p>Q & A</p>
            </div>
            <div class="need_list">
                <div class="list">
                    <div class="ques">
                        我没有任何瑜伽道具，可以联系吗
                    </div>
                    <div class="count">
                        我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗
                    </div>
                </div>
                <div class="list">
                    <div class="ques">
                        我没有任何瑜伽道具，可以联系吗
                    </div>
                    <div class="count">
                        我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗
                    </div>
                </div>
                <div class="list">
                    <div class="ques">
                        我没有任何瑜伽道具，可以联系吗
                    </div>
                    <div class="count">
                        我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗我没有任何瑜伽道具，可以联系吗
                    </div>
                </div>
            </div>
            <div class="need_bot">
                <div class="ned_img">
                    <img src="{__STATIC__}/front/images/pc/need01.png" alt="">
                </div>

            </div>
        </div>

    </div>
</section>
{/block}