{extend name="layout/layout"/}
{block name="css"}
<link rel="stylesheet" href="{__STATIC__}/front/css/kechengliebiao.css">
{/block}
{block name="style"}
<style>

</style>
{/block}
{block name="body"}
<!-- 课程 -->
<section>
    <div class="introduce">
        <div class="container">
            <div class="intro_t">
                <div class="int_l">
                    <div class="intro_pro" >
                        會員名稱
                        <p>XXXXXX</p>
                    </div>
                    <div class="intro_pro">
                        會員賬號
                        <p>1233333</p>
                    </div>

                    <div class="intro_pro">
                        會員資格
                        <p>XXXXXX</p>
                    </div>
                    <div class="upgrade">
                        <a href="#">點我升級會員</a>
                    </div>
                </div>
                <div class="upgrade2">
                    <a href="#">點我升級會員</a>
                </div>
            </div>
            <div class="intro_course">
                <div class="intro_course_l clear">
                    <p>我的課程 <span>難度</span></p>
                    <div class="img">
                        <img src="{__STATIC__}/front/images/pc/course.png" alt="">
                    </div>
                    <div class="posabs">
                        <p>ASHA <br> YOU GA</p>
                    </div>
                </div>
                <div class="intro_course_r clear">
                    <div class="duty">
                        <p>上班族 </p>
                        <p>瑜伽課程</p>
                    </div>
                    <div class="times">
                        <p>Action <span>10</span>(坐姿)臀部</p>
                    </div>
                    <div class="audios">——————————————————————</div>
                    <div class="duty_btn">
                        <div class="btn">
                            <p>重新观看</p>
                            <img src="{__STATIC__}/front/images/pc/cour01.png" alt="">
                        </div>
                        <div class="btn">
                            <p>重新观看</p>
                            <img src="{__STATIC__}/front/images/pc/cour02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="course_list">
                <p>我的课程列表</p>
                <ul id="accordion" class="accordion">
                    <li>
                        <div class="link">
                            <div class="pro_box">
                                <div class="pro_l">
                                    <p>上班族</p>
                                    <p>瑜伽课程</p>
                                </div>
                                <div class="pro_r">
                                    <p>20部影片</p>
                                    <img src="{__STATIC__}/front/images/pc/select_bot.png" alt="">
                                </div>

                            </div>
                        </div>
                        <ul class="navContent " style="display: block;">

                            <li>
                                <div class="action_l">
                                    <p>Action 1</p>
                                    参展手臂
                                </div>
                                <div class="action_r">
                                    <p></p>
                                    <div class="player">
                                        最新课程
                                        <div class="play_btn">
                                            <img src="{__STATIC__}/front/images/pc/cour01.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="action_l">
                                    <p>Action 1</p>
                                    参展手臂
                                </div>
                                <div class="action_r">
                                    <p></p>
                                    <div class="player">

                                        <div class="play_btn">
                                            <img src="{__STATIC__}/front/images/pc/player.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="more">
                                    更多影片
                                    <img src="{__STATIC__}/front/images/pc/more_left.png" alt="">
                                </div>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <div class="link">
                            <div class="pro_box">
                                <div class="pro_l">
                                    <p>上班族</p>
                                    <p>瑜伽课程</p>
                                </div>
                                <div class="pro_r">
                                    <p>20部影片</p>
                                    <img src="{__STATIC__}/front/images/pc/select_bot.png" alt="">
                                </div>

                            </div>
                        </div>
                        <ul class="navContent " >

                            <li>
                                <div class="action_l">
                                    <p>Action 1</p>
                                    参展手臂
                                </div>
                                <div class="action_r">
                                    <p></p>
                                    <div class="player">
                                        最新课程
                                        <div class="play_btn">
                                            <img src="{__STATIC__}/front/images/pc/cour01.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="action_l">
                                    <p>Action 1</p>
                                    参展手臂
                                </div>
                                <div class="action_r">
                                    <p></p>
                                    <div class="player">

                                        <div class="play_btn">
                                            <img src="{__STATIC__}/front/images/pc/player.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="more">
                                    更多影片
                                    <img src="{__STATIC__}/front/images/pc/more_left.png" alt="">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="js"}
<script src="{__STATIC__}/front/js/jquery.js"></script>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        $(".pro_r").click(function () {
            $(this).parent(".pro_box").parent(".link").next(".navContent").slideToggle(300).siblings(".navContent").slideUp(500);
        });
    });
</script>
{/block}
