{extend name="layout/layout"/}
{block name="css"}
<link rel="stylesheet" href="{__STATIC__}/front/css/kechengliebiao.css">
{/block}
{block name="style"}
<style>

</style>
{/block}
{block name="body"}
<section>
    <div class="introduce">
        <div class="container">
            <div class="intro_t">
                <div class="int_l">
                    <div class="intro_pro" >
                        會員名稱
                        <p>XXXXXX</p>
                    </div>
                    <div class="intro_pro">
                        會員賬號
                        <p>1233333</p>
                    </div>

                    <div class="intro_pro">
                        會員資格
                        <p>XXXXXX</p>
                    </div>
                    <div class="upgrade">
                        <a href="#">點我升級會員</a>
                    </div>
                </div>
                <div class="upgrade2">
                    <a href="#">點我升級會員</a>
                </div>
            </div>
            <div class="intro_course" id="bofang">
                <div class="intro_ve" style="width:100%">
                    <div class="intro_tle">
                        <div class="tle_l"><p>{:isset($info['cate_title'])?$info['cate_title']:''}</p><p>{:isset($info['desc'])?$info['desc']:''}</p></div>
                        <div class="tle_r"><p>{:isset($info['title'])?$info['title']:''}</p></div>
                    </div>
                    <div class="video">
                        <video id="video_here" width="100%" poster controls src="{:isset($info['course_url'])?$info['course_url']:''}"></video>
                    </div>
                </div>
            </div>
            <div class="course_list">
                <p>我的課程列表</p>
                <ul id="accordion" class="accordion">

                    {foreach $cate as $key => $vo}
                    <li>
                        <div class="link">
                            <div class="pro_box">
                                <div class="pro_l">
                                    <p>{$vo['title']}</p>
                                    <p>{$vo['desc']}</p>
                                </div>
                                <div class="pro_r">
                                    <p>{:count($vo['course'])}部影片</p>
                                    <img src="{__STATIC__}/front/images/pc/select_bot.png" alt="">
                                </div>

                            </div>
                        </div>
                        <ul class="navContent " {if $key==0}style="display: block;"{/if}>
                            {notempty name="$vo['course']"}
                            {foreach $vo['course'] as $k => $v}
                            <li>
                                <div class="action_l">
                                    <p>Action {$k+1}</p>
                                    {$v['title']}
                                </div>
                                <div class="action_r">
                                    時長：{$v['course_duration']}

                                    {if $v['had_watch']}
                                    <div class="player">
                                        <div class="play_btn">
                                            <img src="{__STATIC__}/front/images/pc/player.png" alt="">
                                        </div>
                                    </div>
                                    {else/}
                                    <div class="player click_player" data-course_id="{$v['id']}">
                                        最新課程
                                        <div class="play_btn">
                                            <img src="{__STATIC__}/front/images/pc/cour01.png" alt="">
                                        </div>
                                    </div>
                                    {/if}
                                </div>
                            </li>
                            {/foreach}
                            {/notempty}
                            <li>
                                <div class="more">
                                    更多影片
                                    <img src="{__STATIC__}/front/images/pc/more_left.png" alt="">
                                </div>
                            </li>
                        </ul>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="js"}

{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        $(".pro_r").click(function () {
            $(this).parent(".pro_box").parent(".link").next(".navContent").slideToggle(300).siblings(".navContent").slideUp(500);
        });
        $('.click_player').click(function () {
            var course_id = $(this).data('course_id');
            $.get("/front/yoga/get_order", {'course_id': course_id}, function (res) {
                if (res.code == 1) {
                    var target_top = $("#bofang").offset().top;
                    $("html,body").animate({scrollTop: target_top}, 500);
                    layer.msg(res.msg, function () {
                        $('.tle_l p:first').html(res.data.info.cate_title);
                        $('.tle_l p:last').html(res.data.info.desc);
                        $('.tle_r p').html(res.data.info.title);
                        $('#video_here').attr('src', res.data.info.course_url);
                    });
                } else {
                }
            }, 'json');
            return false;
        });
    });
</script>
{/block}