{extend name="layout/layout"/}
{block name="css"}
<link rel="stylesheet" href="{__STATIC__}/front/css/login.css">
{/block}
{block name="body"}
<section>
    <div class="login_container">
        <div class="login_box">
            <div class="tle">
                忘記密碼
            </div>
            <div class="container">
                <div class="login_l">
                    <img src="{__STATIC__}/front/images/pc/login_l.png" alt="">
                    <p>ASHA <br /> YOUGA</p>
                    <p class="tle">忘記密碼</p>
                </div>
                <div class="login_r">
                    <div class="login_form">
                        <p class="tle">忘記密碼</p>
                        <form action="#" method="#">
                            <div class="form_item">
                                <span>输入email:</span><input type="text" name="taskName" /><br>
                            </div>
                            <div class="form_item">
                                输入验证码:
                                <div class="inp_cod">
                                    <input type="text" name="tarLink" />
                                    <div class="send_code">
                                        獲取驗證碼
                                    </div>
                                </div>
                            </div>

                            <div class="form_item">
                                输入新密码:<input type="text" name="srcLink" /><br>
                            </div>

                            <input class="btn" type="submit" value="更改密码">
                            <div class="no_num">
                                没有账号<p>立即注册</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}