<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{$title}</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{__STATIC__}/front/css/base.css">
        {block name="css"}{/block}
        {block name="style"}{/block}
    </head>
    <body>
        <header>
            {if !empty(get_login_user())}
            <div class="header">
                <div class="header_l">
                    <img src="" alt="头像">
                    <p>XXXXXXX</p>
                </div>
                <div class="header_r">
                    <p>會員升級</p>
                    <p class="dengchu">登出</p>
                </div>
            </div>
            {else/}
            <div class="header">
                <div class="header_l"></div>
                <div class="header_r">
                    <p class="member-upgrade">會員升級</p>
                    <p class="dengru">登入</p>
                </div>
            </div>
            {/if}
        </header>
        <section>
            <div class="banner">
                <div class="banner_pro">
                    <p>ASHA <br> YOU GA</p>
                </div>
            </div>
        </section>
        {block name="body"}{/block}
        <footer>
            <div class="footer">
                <p>ASHA <br /> YOUGA</p>
            </div>
        </footer>
        <script src="{__STATIC__}/front/js/jquery.js"></script>
        {block name="js"}{/block}
        <script>
            $('.dengchu').click(function () {
                window.location.href = "{:url('/front/logout/index')}";
            });
            $('.dengru').click(function () {
                window.location.href = "{:url('/front/login/index')}";
            });
            $('.member-upgrade').click(function () {
                window.location.href = "{:url('/front/yoga/course')}";
            });
        </script>
        {block name="script"}{/block}
    </body>
</html>

